html
    head
        title Tetris Game JS
        style.
            #score{
                display: inline-block;
            }
            div{
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                text-align: center;
            }
            canvas{
                display: block;
                margin:0 auto;
            }
    body
        div Tetris
        br
        canvas#tetris(width='200', height='400')
        div
            | Score :
            #score 0
        script(src='js/tetris.js')